* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}

body {
    height: 10vw;
    background-color: #000;
}

@media only screen and (max-width: 575px) {
    body {
        background-color: #04003e;
        height: 54vw;
        position: fixed;
        /*overflow: hidden;*/
    }
    #main-page {
        visibility: hidden;
    }
    #background {
        opacity: 0.8;
        background: #ccc; 
        width: 100vw;
        height: 180vw;
        background-image: url(images/IMG_2137.JPG);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
    }
    #insta {
        position: absolute;
        background-color: #fff;
        border-radius: 5vw;
        width: 16.5vw;
        height: auto;
        margin-top: 37.5vw;
        left: 10vw;
    }
    #ag h1 {
        position: absolute;
        color: #fff;
        top: 54.8vw;
        left: 9vw;
        font-size: 4vw;
        font-family: 'Atkinson Hyperlegible';
        display: block;
    }
    #gal {
        background-color: #fff;
        border-radius: 5vw;
        position: absolute;
        width: 16.5vw;
        height: auto;
        margin-top: 37.5vw;
        left: 40vw;
    }
    #gl h1{
        position: absolute;
        color: #fff;
        top: 54.8vw;
        left: 42vw;
        font-size: 4vw;
        font-family: 'Atkinson Hyperlegible';
        display: block;
    }
    #notes {
        position: absolute;
        width: 18.5vw;
        height: auto;
        margin-top: 36.8vw;
        left: 70vw;
    }
    #txt h1 {
        position: absolute;
        color: #fff;
        top: 54.8vw;
        left: 74vw;
        font-size: 4vw;
        font-family: 'Atkinson Hyperlegible';
        display: block;
    }
    /*--------------------------------------------------------------------------------------------------------------------*/
    /*--------------------------------------------------------------------------------------------------------------------*/
    /*--------------------------------------------------------------------------------------------------------------------*/
    #ayou_gram {
        visibility: hidden;
    }
    #ag_arrow {
        position: absolute;
        top: 2vw;
        left: 0vw;
        width: 9vw;
        height: auto;
        transform: rotate(180deg);
    }
    #abTitle {
        position: absolute;
        top: 2vw;
        left: 32vw;
        font-family: 'Satisfy';
        font-weight: bolder;
        font-size: 8vw;
    }
    #s1 h1, #s2 h1, #s3 h1, #s4 h1 {
        position: absolute;
        top: 19vw;
        left: 0vw;
        display: block;
        font-family: 'Poppins';
        font-size: 2.5vw;
    }
    #s1 {
        position: absolute;
        top: 20vw;
        left: 5vw;
        padding: 9vw;
        border: 0.7vw solid #e94f57;
        border-radius: 50%;
    }
    #s2 {
        position: absolute;
        top: 20vw;
        left: 29vw;
        padding: 9vw;
        border: 0.7vw solid #e94f57;
        border-radius: 50%;
    }
    #s3 {
        position: absolute;
        top: 20vw;
        left:52vw;
        padding: 9vw;
        border: 0.7vw solid #e94f57;
        border-radius: 50%;
    }
    #s4 {
        position: absolute;
        top: 20vw;
        left: 76vw;
        padding: 9vw;
        border: 0.7vw solid #e94f57;
        border-radius: 50%;
    }
    #sLine {
        position: absolute;
        top: 45vw;
        width: 100vw;
        height: 1px;
        background-color: #000;
        opacity: 0.1;
    }
}